<div class="jumbotron">
    <h1>Welcom to TyB(Test your Brain) !</h1>
    <p> TyB est un outils de QCM. A vous de montrer vos compétences.</p>
    <p>
        @if (User.Identity.IsAuthenticated)
        {
                <a class="btn btn-primary btn-lg" asp-action="Index" asp-controller="Questionnaires" role="button">Go to tests list</a>
        }
    </p>
</div>